body{
    width:100%;
    height:100%;
    margin-top : 90px;
  }
  a{text-decoration: none;}
  .clearfix{content:'';display:block; clear:both;}
  
  select{
   font-size : 15px;
  }
  .news {
    float:left;
    margin-left:1%;
    width:32%;
    height:90%;
  }
  .chart1{
    margin-left:3%;
    float:left;
    width:45%;
    height:60%;
  }
  .chart2{
    margin-left:3%;
    float:right;
    width:45%;
    height:60%;
  }
  .row{
  margin-bottom:2%;
  }
 .chart-bar{
   width:100%;
   height:90%;
 }
 .card-body{
   height:60%;
 }
 canvas{
   width:90%;
   height:90%;
 }
 tr{
   font-size:12px;
 }
button{
  width:50%;
  height:10%;
  font-size:20px;
  border:white;
  background-color:white;
  color:#368af8;
  margin-right:5%;
}
h3{
  font-weight: bold;
}